@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 215 24% 94%;
  --foreground: 222 35% 15%;
  --muted: 217 22% 85%;
  --muted-foreground: 224 18% 35%;
  --popover: 215 28% 95%;
  --popover-foreground: 222 35% 15%;
  --card: 0 0% 100%;
  --card-foreground: 222 35% 15%;
  --border: 219 26% 80%;
  --input: 219 26% 80%;
  --primary: 224 85% 45%;
  --primary-foreground: 0 0% 100%;
  --secondary: 218 27% 90%;
  --secondary-foreground: 222 35% 15%;
  --accent: 212 87% 64%;
  --accent-foreground: 222 35% 15%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --ring: 224 85% 45%;
  --radius: 0.75rem;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.dark {
  --background: 215 24% 94%;
  --foreground: 222 35% 15%;
  --muted: 217 22% 85%;
  --muted-foreground: 224 18% 35%;
  --popover: 215 28% 95%;
  --popover-foreground: 222 35% 15%;
  --card: 0 0% 100%;
  --card-foreground: 222 35% 15%;
  --border: 219 26% 80%;
  --input: 219 26% 80%;
  --primary: 224 85% 45%;
  --primary-foreground: 0 0% 100%;
  --secondary: 218 27% 90%;
  --secondary-foreground: 222 35% 15%;
  --accent: 212 87% 64%;
  --accent-foreground: 222 35% 15%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --ring: 224 85% 45%;
  --radius: 0.75rem;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
  color: hsl(var(--foreground));
}
